* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

:root {
  --background-col: #080B0D;
  --orange-col: #FE7F2D;
  --cyan-col: #CDF3E9;
  --gwhite-col: #F4F4F9;
}

nav {
  padding: 2em 5%;
  height: 10vh;
  background-color: var(--background-col);
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

nav li {
  padding: 0 1em;
}

nav a {
  text-decoration: none;
  color: var(--gwhite-col);
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-col);
}

.name {
  color: var(--gwhite-col);
  font-family: "Overpass";
  font-size: 5rem;
}

.job {
  color: var(--cyan-col);
  font-style: italic;
  font-size: 1.4rem;
}

.abtmebtn {
  display: block;
  margin-top: 3em;
  color: var(--gwhite-col);
  text-decoration: none;
  border: 0.2em solid var(--orange-col);
  padding: .6em 1.5em;
  transition: color .2s ease-in;
}

.abtmebtn span {
  color: var(--orange-col);
  margin-left: .5em;
}

.abtmebtn:hover {
  color: var(--orange-col);
}
